<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-Bold.ttf</string>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-SemiBold.ttf</string>
		<string>Onest-ExtraLight.ttf</string>
		<string>Onest-Light.ttf</string>
		<string>LTWave-Bold.ttf</string>
	</array>
</dict>
</plist>
